{{ define "main" }}
	<div id="spotlight" class="animated fadeIn">
		<div id="home-center">
			<h1 id="home-title">{{ .Site.Title }}</h1>
			<p id="home-subtitle">{{ .Params.subtitle | default "Default Subtitle Text" }}</p>
			<nav id="home-nav" class="site-nav">
				{{ partialCached "menu.html" . }}
			</nav>
		</div>
		<div id="home-footer">{{- if templates.Exists "partials/index-footer.html" -}}{{- partialCached "index-footer.html" . -}}{{- else -}}{{- partial "footer.html" . -}}{{- end -}}</div>
		</div>
{{ end }}